.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.small-profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.cover-pic{
    width: 220px;
    height: 300px;
}
.profile-containner {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border: solid 1px;
    border-radius: 20px;
    border-top: none;
}
.profile-users {
    display: flex;
    font-weight: 600;
    font-size: 17px;
}

.profile-users a {
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.profile-users a span {
    display: block;
}
.posts-content{
    margin-top:20px;
}
.center{
    display: block;
    margin: 0 auto;
}
.chat_img{
    width: 150px;
}
.heightt{
    height: 400px;
    max-height: 400px;
}
.author-pic {
    width: 210px;
    height: 250px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(16, 138, 138);
    height: 60px;
    color: wheat;
    box-shadow: rgb(190, 146, 65) 0 0 10px 0;
    margin-bottom: 25px;
}
.ch1 h2 {
    font-family: auto;
    margin: auto;
}
.ch1 a{
    text-decoration: none;
    color: wheat;
}
.ch2 ul{
    display: flex;
    margin: auto;
    padding-left: 0;
}
.ch2 li{
    margin: auto 10px;
    list-style: none;
}
.ch2 a {
    text-decoration: none;
    color: wheat;
    position: relative;
}
.ch2 a:before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: wheat;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    transition: 0.5s;
    margin: auto;
}
.ch2 a:hover:before{
    width: 100%;
}
.activee{
    position: relative;
}
.activee:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: wheat;
    position: absolute;
    bottom: -6px;
    margin: auto -100%;
}
.activee:before{
    display: none;
}
.vverx{
    position: fixed;
    right: 15%;
    bottom: 10%;
}
.vverx a{
    background-color: #222;
    padding: 8px 25px;
    opacity: 0.8;
    border-radius: 5px;
    color: white;
}
.vverx a:hover{
    background-color: #444;
    transition: 0.5s;
}
.people-nearby .google-maps{
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f1f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .people-nearby .google-maps .map{
    height: 300px;
    width: 100%;
    border: none;
  }
  
  .people-nearby .nearby-user{
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
  }
  
  img.profile-photo-lg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.post {
    width: 50%;
    border: solid 1px;
    padding: 15px 20px;
    margin-bottom: 30px;
}
.user {
    display: flex;
    align-items: center;
    border: solid 1px;
    border-radius: 10px;
    padding: 8px 15px;
}
.user a {
    text-decoration: none;
    color: black;
    margin: auto 20px
}
.post h4 {
    text-align: center;
    margin: 15px auto;
}
.like-com {
    display: flex;
}

/* .comments {
    border: solid 1px #333;
    padding: 5px 20px;
    line-height: 200%;
    font-size: 14px;
    letter-spacing: 5px;
    font-family: auto;
}
.comment {
    border-bottom: 1px solid #777;
}
.comment b {
    letter-spacing: 2px;
    font-family: sans-serif;
}
.end-comment{
    border: none;
} */
.black-window {
    left: 0;
    z-index: 10;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000eb;
    bottom: 0;
}

.post-comments{
    background-color: #fff;
}
.post-comments {
    /* position: absolute; */
    /* left: 25%; */
    /* bottom: 25%; */
    /* display: block; */
    margin: auto;
    width: 70%;
    display: flex;
    height: 93%;
    margin-top: 1.5%;
}
.post-detail {
    width: 50%;
    border: none;
    margin: auto;
    overflow: auto;
    max-height: 100%;
}
.comments {
    width: 50%;
    padding: 0 3%;
    position: relative;
    border-left: solid 1px;
    overflow: auto;
}
.comments-text a {
    color: black;
    text-decoration: none;
}

a.window-link {
    color: white;
    position: fixed;
    right: 10%;
    top: 5%;
    font-size: 40px;
}
.none{
    display: none;
}
.comments h4 {
    text-align: center;
    padding: 15px;
}
.dep-panel{
    z-index: 15;
}
.comments-form {
    position: absolute;
    bottom: 5%;
}

.comments-text {
    height: 50%;
    overflow: auto;
}
.comments-form {
    position: absolute;
    bottom: 5%;
}
.comments_form textarea {
    height: 120px;
}
.delete_post_comment {
    position: fixed;
    width: 30%;
    left: 35%;
    right: 35%;
    /* height: 6%; */
    border-radius: 10px;
    background-color: #5f9ea0e0;
    z-index: 30;
    top: 35%;
    text-align: center;
    padding: 10px;
}
form.delete_post_comm_form {
    display: inline;
}
a.btn.btn-danger.pull-right {
    font-size: 12px;
    width: 49%;
}
a.btn.btn-primary.pull-right {
    font-size: 12px;
    width: 49%;
}
a.btn.pull-right.no-style{
    font-size: 16px;
    width: auto;
}
.profile-posts-link {
    text-align: center;
}
.profile-posts-link a {
    font-size: 30px;
    color: black;
    /* border: solid 1px; */
    /* padding: 0px 21px; */
}
.profile-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.profile-post {
    width: 40%;
    background-color: aliceblue;
    padding: 10px 35px;
    /* margin: 0 60px 40px; */
    border-radius: 25px;
    text-align: center;
    margin-bottom: 50px;
    /* display: inline-block; */
}
.profile-post img {
    width: 100%;
}
.profile-black-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000d9;
}
a.sub_exit {
    position: fixed;
    top: 12%;
    color: white;
    right: 25%;
    font-size: 40px;
}
.user_subs {
    width: 30%;
    /* color: beige; */
    position: relative;
    padding: 10px 10px;
    height: 40%;
    left: 35%;
    border-radius: 20px;
    top: 25%;
    background-color: white;
}

