{% extends 'base.html' %}

{% block content %}
<h3>Друзья</h3>
{% for n in user.friends_to.all %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="{{ n.from_user.profile_picture.url }}" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="{% url 'users:profile' n.from_user.id %}" class="profile-link">{{ n.from_user }}</a></h5>
                    <p>{{ n.from_user.first_name }} {{ n.from_user.last_name }}</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <a href="{% url 'friends:friends_chat' n.id %}" class="btn btn-primary pull-right">Написать</a>
                  </div>
                </div>
              </div>
            </div>
    	</div>
	</div>
</div>
{% endfor %}
{% for n in user.friends_from.all %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="{{ n.to_user.profile_picture.url }}" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="{% url 'users:profile' n.to_user.id %}" class="profile-link">{{ n.to_user }}</a></h5>
                    <p>{{ n.to_user.first_name }} {{ n.to_user.last_name }}</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <a href="{% url 'friends:friends_chat' n.id %}" class="btn btn-primary pull-right">Написать</a>
                  </div>
                </div>
              </div>
            </div>
    	</div>
	</div>
</div>
{% endfor %}
{% endblock content %}