{% extends 'base.html' %}

{% block content %}

<h4>Уведомления</h4>
{% if user.friendship_requests_to.all %}
{% for f_request in user.friendship_requests_to.all %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="{{ f_request.from_user.profile_picture.url }}" alt="user" class="profile-photo-lg">
                  </div>
                  <div style="width: 53.333333%" class="col-md-7 col-sm-7">
                    <h5><a href="{% url 'users:profile' f_request.from_user.id %}" class="profile-link">{{ f_request.from_user }}</a></h5>
                    <p>{{ f_request.from_user.first_name }} {{ f_request.from_user.last_name }}<br><span style="font-size:14px">Подписался(лась) на вас</span></p>
                    
                  </div>
                  <div style="width: 30%; margin:auto" class="col-md-3 col-sm-3">
                    {% for req in request.user.friendship_requests_from.all %}
                      {% if req.to_user == f_request.from_user %}
                        <form action="{% url 'friends:delete_friend' f_request.from_user.id %}" method="post">{% csrf_token %}<input type="hidden" name="req" value="{{ request.path }}"><button class="btn btn-danger pull-right no-style" type="submit">Отписаться</button></form> <span style="display:none" id="friend{{ f_request.id }}">True</span>
                      {% endif %}
                    {% endfor %}
                      
                    <div id="friend-req-none{{ f_request.id }}">
                      <a class="btn btn-danger pull-right" href="{% url 'friends:delete_request' f_request.from_user.id %}">Удалить из подписчиков</a>
                      <a class="btn btn-primary pull-right" href="{% url 'friends:create_friendship' f_request.from_user.id %}">Подписаться в ответ</a>
                  </div>
                  <script>
                    var friend = document.getElementById("friend{{ f_request.id }}").innerHTML
                    if (friend == "True") {
                      friendreqnone = document.getElementById("friend-req-none{{ f_request.id }}")
                      friendreqnone.style.display = "none"
                    }
                  </script>
                  </div>
                </div>
              </div>
            </div>
    	</div>
	</div>
</div>

{% endfor %}
{% else %}
Запросов не найдено
{% endif %}
{% endblock content %}